@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1f1533;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
